@using Vic.LazyRaRaStore.Domain.Entities
@model IEnumerable<Product>
@{
    ViewBag.Title = "Products";
}

<h2 style="color:DodgerBlue;">LazyRaRa Store Products List </h2>
<br>
@foreach (var p in Model)
{
<div>
    <h3 style="color:Tomato;">Produce Name: @p.Name </h3>
    Description: @p.Description
    <h4>Price: @p.Price.ToString("c")</h4>
    <br>
</div>
}